<div style="display: flex; align-items: center;margin: 1rem;">
  <h2>Elevators</h2>
  <mat-slide-toggle [checked]="randomPassengersInterval" [disabled]="elevatorService.getElevators().length === 0"
    matTooltip="No elevators present" [matTooltipDisabled]="elevatorService.getElevators().length > 0"
    (change)="toogleInterval()" style="margin-left: auto;">
    Random passengers
  </mat-slide-toggle>
</div>
<div style="display: grid;">
  <button mat-raised-button (click)="addElevator()" style="justify-self: end;">
    <mat-icon>add</mat-icon>
    Add new elevator
  </button>
</div>
<div style="display: grid;grid-template-columns: repeat(2, 1fr);gap:1rem;align-items: start;">

  <div style="display: grid;grid-template-columns: repeat(2, 1fr);gap:2rem;">
    <app-config></app-config>
    <app-elevator-request></app-elevator-request>
    <app-elevator-arrival style="grid-column-start: 2;grid-row: 2;"></app-elevator-arrival>
  </div>

  <app-elevator-list></app-elevator-list>
</div>